big/plain.white.ip4cidr.list filter=lfs diff=lfs merge=lfs -text
big/black.list filter=lfs diff=lfs merge=lfs -text
big/plain.black.asn.list filter=lfs diff=lfs merge=lfs -text
big/plain.black.ip6range.list filter=lfs diff=lfs merge=lfs -text
big/plain.black.ip6cidr.list filter=lfs diff=lfs merge=lfs -text
big/plain.white.regex.list filter=lfs diff=lfs merge=lfs -text
big/adblock.txt filter=lfs diff=lfs merge=lfs -text
big/dnsmasq-servers.conf filter=lfs diff=lfs merge=lfs -text
big/plain.black.ip4cidr.list filter=lfs diff=lfs merge=lfs -text
big/plain.white.asn.list filter=lfs diff=lfs merge=lfs -text
big/plain.white.domain.list filter=lfs diff=lfs merge=lfs -text
big/work filter=lfs diff=lfs merge=lfs -text
big/litte-snitch.black.lsrules filter=lfs diff=lfs merge=lfs -text
big/plain.black.domain.list filter=lfs diff=lfs merge=lfs -text
big/plain.black.ip4range.list filter=lfs diff=lfs merge=lfs -text
big/plain.white.hosts.list filter=lfs diff=lfs merge=lfs -text
big/plain.white.ip4range.list filter=lfs diff=lfs merge=lfs -text
big/white.list filter=lfs diff=lfs merge=lfs -text
big/litte-snitch.white.lsrules filter=lfs diff=lfs merge=lfs -text
big/plain.black.hosts.list filter=lfs diff=lfs merge=lfs -text
big/plain.black.regex.list filter=lfs diff=lfs merge=lfs -text
